


<div class="card  text-center ">
    <div class="card-body table-responsive col col-sm-12 ">
        <b>
            1. URL için elde edilen anahtar kelimelerin 2. URL’nin içeriğinde yer alma sayısına
            dayalı bir benzerlik skor formulü hesaplar
        </b>
        <div class="d-flex justify-content-center">

            <div class="col col-9">

                <div class="input-group mt-2">
                    <div class="input-group mb-3 mt-1 mb-1">
                        <input type="text" id="firstWebUrl" class="form-control text-center shadow-none" placeholder="Website URL" aria-label="Website URL" aria-describedby="basic-addon2" onfocus="this.placeholder = ''" onblur="this.placeholder = ' Website URL'">
                        <button class="btn btn-primary ml-2 mr-2" type="button" id="createSpan" onclick="getCompareData()">Karşılaştır</button>
                        <input type="text" id="secondWebUrl" class="form-control text-center shadow-none" placeholder="Website URL" aria-label="Website URL" aria-describedby="basic-addon2" onfocus="this.placeholder = ''" onblur="this.placeholder = ' Website URL'">
                        <div class="input-group-append">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-body table-responsive col col-sm-12 ">

    <div class="badge-container">
        <h2>Siteler arası benzerlik skoru : <span id="spanScore"></span></h2>
        <h4>Eşleşen Kelimeler : </h4> <div id="divMatchKeywords"></div>
        <br />
        <div class="row">
            <div class="col-sm-6">
                <h4>Site 1 : <span id="spanFirstSite"></span></h4>
                <h4>Anahtar Kelimeler : </h4>
                <div id="divFirstSiteKeywords">

                </div>
            </div>
            <div class="col-sm-6">
                <h4>Site 2 : <span id="spanSecondSite"></span></h4>
                <h4>Anahtar Kelimeler : </h4>
                <div id="divSecondSiteKeywords">

                </div>
            </div>
        </div>
    </div>

</div>


<script>

    function getCompareData() {
        checkedItems = [];
        let weburl1 = $("#firstWebUrl").val();
        let weburl2 = $("#secondWebUrl").val();

        var model = {
            "weburl1": weburl1,
            "weburl2": weburl2
        };

        $.ajax({
            type: "POST",
            url: "/Home/CompareTwoSite",
            data: model,
            success: function (data) {
                console.log(data);
                if (data != null) {
                    $('#spanScore').text(data.score);
                }

                if (data.wordList != null) {
                    var calculate = "<br> Formül : ";
                    $.each(data.wordList, function (index, value) {
                        $('#divMatchKeywords').append(" <span class='badge badge-primary' style='text-align:left!important'> Kelime : " + value.word + " <br> İkinci Site Frekansı : " + value.frequency + " </span> ");
                        console.log("index : " + index + " - lenght : " + data.wordList.length);

                        calculate += value.frequency;
                        if (index < (data.wordList.length - 1)) {
                            calculate += "+";
                        }
                        
                    });
                    calculate += "/" + data.divide;
                    $('#spanScore').append(calculate);
                }

                if (data.firstSite != null) {
                    $('#spanFirstSite').text(data.firstSite.url);
                    if (data.firstSite.wordList != null) {
                        $.each(data.firstSite.wordList, function (index, value) {
                            $('#divFirstSiteKeywords').append(" <span class='badge badge-primary' style='text-align:left!important'> Kelime : " + value.word + " <br> Frekans : " + value.frequency + " </span> ");
                        });
                    }
                }

                if (data.secondSite != null) {
                    $('#spanSecondSite').text(data.secondSite.url);
                    if (data.secondSite.wordList != null) {
                        $.each(data.secondSite.wordList, function (index, value) {
                            $('#divSecondSiteKeywords').append(" <span class='badge badge-primary' style='text-align:left!important'> Kelime : " + value.word + " <br> Frekans : " + value.frequency + " </span> ");
                        });
                    }
                }
            },
            error: function (error) {
                console.log(JSON.stringify(error))
            }
        })

    };
</script>