


<div class="card  text-center ">
    <div class="card-body table-responsive col col-sm-12 ">

        <b>Url içeriğinde  her kelimenin kaçar defa yer aldığını hesaplar </b>
        <div class="d-flex justify-content-center">
            <div class="col col-6">
                <div class="input-group mt-2">
                    <div class="input-group mb-3 mt-1 mb-1">
                        <input type="text" id="webURL" class="form-control text-center shadow-none" placeholder="Website URL" aria-label="Website URL" aria-describedby="basic-addon2" onfocus="this.placeholder = ''" onblur="this.placeholder = ' Website URL'">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" onclick="getData()">Hesapla</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="card-body table-responsive col col-sm-12 ">


            <h3 class="sbs-title">Kelimeler ve frekansları</h3>
            <div id="spanArea">
                 
              
          

            </div>
      
</div>


<script>

    
    function getData() {
        var dbData = [];
        checkedItems = [];
        let weburl = $("#webURL").val();
        var model = { "weburl": weburl };

        $.ajax({
            type: "POST",
            url: "/Home/GetData",
            data: model,
            success: function (data) {
                console.log(data);
                $.each(data, function (index, value) {
                    $('#spanArea').append("<span class='badge badge-primary'>"+value+" - ( 150 ) </span>");            
                });              
            },
            error: function (error) {
                console.log(JSON.stringify(error))
            }
        })

    };
</script>