

    <div class="card  text-center ">
        <div class="card-body table-responsive col col-sm-12 "  >      
                <div class="d-flex justify-content-center">
                    <div class="col col-5">
                        <div class="input-group">
                            <div class="input-group mb-3 mt-1 mb-1">
                                <input type="text" class="form-control text-center shadow-none" placeholder="Website URL" aria-label="Website URL" aria-describedby="basic-addon2" onfocus="this.placeholder = ''" onblur="this.placeholder = ' Website URL'">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">Hesapla</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
        </div>
    </div>



