


<div class="card  text-center ">
    <div class="card-body table-responsive col col-sm-12 ">
        <b>
            1. URL için elde edilen anahtar kelimelerin 2. URL’nin içeriğinde yer alma sayısına
            dayalı bir benzerlik skor formulü hesaplar
        </b>
        <div class="d-flex justify-content-center">

            <div class="col col-9">

                <div class="input-group mt-2">
                    <div class="input-group mb-3 mt-1 mb-1">
                        <input type="text" id="firstWebUrl" class="form-control text-center shadow-none" placeholder="Website URL" aria-label="Website URL" aria-describedby="basic-addon2" onfocus="this.placeholder = ''" onblur="this.placeholder = ' Website URL'">
                        <button class="btn btn-primary ml-2 mr-2" type="button" id="createSpan">Karşılaştır</button>
                        <input type="text" id="secondWebUrl" class="form-control text-center shadow-none" placeholder="Website URL" aria-label="Website URL" aria-describedby="basic-addon2" onfocus="this.placeholder = ''" onblur="this.placeholder = ' Website URL'">
                        <div class="input-group-append">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-body table-responsive col col-sm-12 ">


    <h3 class="sbs-title">Kelimeler ve frekansları</h3>
    <div class="badge-container">

        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>

        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>

        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>

        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>

        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>

        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>

        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>
        <span class="badge badge-primary"> Badge - ( 150 ) </span>

    </div>

</div>


<script>
    urlPoolArray = new Array();
    counter = 0;

    function badgetCreate(url) {
        return `<span class="badge badge-primary" id='${counter}'> ${url} </span>`
    }

    $('#createSpan').click(function () {
        var elem = badgetCreate($('#webUrl').val());
        console.log(elem);
        urlPoolArray.push($('#webUrl').val());
        counter++;
        $('#urlPool').append(elem);
    });


    function getData() {
        var dbData = [];
        checkedItems = [];
        let weburl = $("#webURL").val();
        var model = { "weburl": weburl };

        $.ajax({
            type: "POST",
            url: "/Home/GetData",
            data: model,
            success: function (data) {
                console.log(data);
                $.each(data, function (index, value) {
                    $('#spanArea').append("<span class='badge badge-primary'>" + value + " - ( 150 ) </span>");
                });
            },
            error: function (error) {
                console.log(JSON.stringify(error))
            }
        })

    };
</script>