<link rel="stylesheet" href="~/css/home.css" />

<section>
    <p class="headL">Web Crawler</p>
    <div class="card parentCard container-fluid">
        <div class="row">
            <div class="menuParent">
                <div class="LeftParent" id="btnParents">
                    <div class="leftSelectNav btn active " onclick="showPart1()"><div class="buttonText"><i class="nav-icon fa fa fa-sticky-note" id="firstPart"></i>Sayfada Geçen Kelimelerin Frekanslarını Hesaplama</div></div>
                    <div class="leftSelectNav btn " onclick="showPart2()"><div class="buttonText"><i class="nav-icon fas fa-user"></i>Anahtar Kelime Çıkarma</div></div>
                    <div class="leftSelectNav btn " onclick="showPart3()"><div class="buttonText"><i class="nav-icon fas fa-map-marked-alt"></i>İki Sayfa (URL) Arasındaki Benzerlik Skorlaması</div></div>
                    <div class="leftSelectNav btn " onclick="showPart4()"><div class="buttonText"><i class="nav-icon fas fa-table "></i>Site İndexleme ve Sıralama</div></div>
                    <div class="leftSelectNav btn " onclick="showPart5()"><div class="buttonText"><i class="nav-icon fas fa-tasks "></i>Semantik Analiz</div></div>
                </div>
            </div>
            <div class="card tableBD" style="overflow: auto;">
                <div class="tableBody" id="tableArea"></div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/home.js"></script>